/* product_list.css */

body {
    background-color: #272733;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.store_plate {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #343440;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.store_van {
    text-align: center;
    margin-bottom: 30px;
}

.store_van a {
    text-decoration: none;
}

.store_van h1 {
    color: #ffffff;
    background-color: #373747;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.store_van h1:hover {
    background-color: #505050;
    cursor: pointer;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item_product {
    background-color: #373747;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.item_product:hover {
    transform: translateY(-5px);
}

.product_img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product_info h1 {
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff;
}

.product_name {
    font-weight: bold;
    font-size: 20px;
}

.item_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    transition: transform 0.4s ease;
    margin-top: 10px;
}

.item_detail_btn {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: #23232b;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.4s ease;
}

.item_detail_btn:hover {
    background-color: #707070;
    transform: scale(1.1);
}


p {
    text-align: center;
    font-size: 18px;
    color: #bbbbbb;
    margin-top: 50px;
}
