{% extends "main/layout.html" %}
{% load static %}

{% block title %}Store{% endblock %}

{% block headcode %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
    <link rel="icon" href="{% static 'images/basket.png' %}" type="image/x-icon">
{% endblock %}

{% block content %}
    <div class="store_plate">
        <nav class="store_van"></nav>
        <div class="item_list">
            {% for item in items %}
                <div class="item_product">
                    <img
                            class="product_img"
                            src="{{ item.photo }}"
                            alt="{{ item.name }}"
                            onerror="this.onerror=null; this.src='{% static 'images/noimages.png' %}';">

                    <h1 class="product_name">{{ item.name }}</h1>
                    <h2 class="product_description">{{ item.price }} грн</h2>
                    <h2 class="product_description">Рейтинг: {{ item.rate }}</h2>
                    <a class="item_detail_btn" href="{% url 'product_detail' item.id %}">Детальніше</a>
                </div>
            {% empty %}
                <p>Немає доступних продуктів.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
